.archive__grid-container{
    display: grid;
    grid-template-columns: 1fr 7fr;
}

.archive__notecard-container{
    grid-column-start: 2;
}
.archive__notecard{
    width: 100%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

}

.no-notes{
    margin-top: 2rem;
}

@media screen and (max-width: 768px) {
    .archive__grid-container{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .archive__notecard-container{
        grid-column-start: 1;
        grid-row-start: 2;
    }
    .archive__notecard-container h2,p{
        text-align: center;
    }
    .archive__notecard{
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
    }

  }
