.home__grid-container{
    display: grid;
    grid-template-columns: 1fr 7fr;
}
.home__notes-container{
    grid-column-start: 2;
    padding: 16px 32px;
}
.home__notecard{
    width: 100%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

