.home__grid-container{
    display: grid;
    grid-template-columns: 1fr 7fr;
}
.home__notes-container{
    grid-column-start: 2;
}
.home__notecard{
    width: 100%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

@media screen and (max-width: 768px) {
    .home__grid-container{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .home__notes-container{
        grid-column-start: 1;
        grid-row-start: 3;
    }
    .pinned-notes h2, .other-notes h2{
       text-align: center;
    }
    .home__notecard{
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
    }

  }
