.notecard{
    border: 2px solid #b9b9b9;
    border-radius: 8px;
    padding: 8px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.notecard__title-row{
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 2px solid #101010;
}
.notecard__description-row{
    padding: 8px 0;
}
.notecard__description {
    width: calc(100%);
    height: 60px;
    overflow: hidden;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
.notecard__options-row{
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
}


.notecard__img img{
    width: 25px;
    margin-left: 16px;
    cursor: pointer;
    transition: transform 0.2s ease;
    opacity: 0.8;
}
.notecard__img img:hover{
    transform: scale(1.1);
}




