.important__grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr;
}
.important__notes-container{
    grid-column-start: 2;
}
.important__notecard{
    width: 100%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

@media screen and (max-width: 768px) {
    .important__grid-container{
        grid-template-columns: 1fr; 
        justify-content: center;
    }
    .important__notes-container{
        grid-column-start: 1;
        grid-row-start: 3;
    }
    .important-notes h2,p{
        text-align: center;
     }
    .important__notecard{
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
    }

  }